# =========================================================
# Backend
# Java 后端基础地址
# Python Tool / Agent 后续可通过 HTTP 调用 Java 服务
# =========================================================
BACKEND_BASE_URL=http://localhost:8080


# =========================================================
# LLM
# Provider 连接信息
# =========================================================
LLM_API_KEY=sk-xxx
LLM_BASE_URL=https://api.deepseek.com/chat/completions
LLM_TIMEOUT=60.0


# =========================================================
# Embedding
# 向量化服务连接信息
# 不绑定具体厂商，例如可以是 Ollama / 其他 OpenAI-compatible 服务
# =========================================================
EMBEDDING_BASE_URL=http://localhost:11434/v1/chat/completions
EMBEDDING_MODEL=nomic-embed-text

# =========================================================
# ollama地址
# ollama下载的llm调用地址
# =========================================================
OLLAMA_BASE_URL=http://localhost:11434/v1/chat/completions

# =========================================================
# RocketMQ
# =========================================================
ROCKETMQ_NAMESRV_ADDR=ip:port

# Python 消费 Java 消息
ROCKETMQ_CONSUMER_GROUP=cid_task_group
ROCKETMQ_CONSUMER_TOPICS=agent_task_topic

# Python → Java
ROCKETMQ_STATUS_TOPIC=agent_status_topic
ROCKETMQ_HEARTBEAT_TOPIC=agent_heartbeat_topic

# Python 当前消费的消息类型
MESSAGE_TYPE=AGENT_TASK,AGENT_COMMAND


# =========================================================
# Redis
# =========================================================
REDIS_URL=redis://:密码@ip/数据库序号



# =========================================================
# Vector DB
# =========================================================
CHROMA_PATH=./data/chroma_db
COLLECTION_NAME=alibaba_manual
VECTOR_N_RESULTS=2